@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');

body {
    color: #fff;
    margin: 0;
    font-family: "Outfit", sans-serif;
    text-align: center;
    background-color: #0d0d0d;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  z-index: -1;
}

.banner {
    width: 100%;
    height: calc(100vh - 0px);
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0d0d0d;
    color: #fff;
}
        
h1 {
    font-size: 2.2em;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    z-index: 9999;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}

.nav-text {
    color: white;
    font-size: 18px;
    margin: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-button {
    background-color: #1A1A1A;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.nav-button:hover {
    background-color: #555;
}

.sigma {
    padding: 20px 25px;
    background-color: #141414;
    color: white;
    border-radius: 15px;
    border: none;
    margin: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sigma:hover {
    background: #555;
}

.discord {
    padding: 20px 25px;
    background-color: #141414;
    color: white;
    border-radius: 15px;
    border: none;
    margin: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.discord:hover {
    background: #5865F2;
    color: #000;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

#fetching-text {
    margin-top: 10px;
    font-size: 1rem;
    color: #ccc;
}

.search-container {
    text-align: center; 
    margin-bottom: 20px;
}

#search {
    width: 40vw;
    padding: 10px;
    background-color: #141414;
    border-radius: 50px;
    border: none;
    color: white;
}

.buttons=container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 5px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px; 
}

.image-item {
    position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 10px;
}

.image-item:hover {
    transform: scale(1.1);
}

.image-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.iframe-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 70vw;
    height: 75vh;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
    height: 4.5vh;
    background-color: #141414;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.icon {
    color: white;
    margin-right: 15px;
    cursor: pointer;
    font-size: 18px;
}

i {
    color: #fff;
    transition: 0.3s;
}

i:hover {
    color: #ccc;
}

.ads-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-link {
    cursor: pointer;
    transition: transform 0.3s;
    display: inline-block;
    margin: 15px;
}

.image-link img {
    width: 500px;
    height: 200px;
    border-radius: 8px;
}

.box {
    background-color: #141414;
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 20vw;
}

.container-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px
}
